body {
	background-color: #f4f1de;
}

h1 {
	background-color: #f2cc8f;
	text-align: center;
	font-size: 3.2em;
	font-family: 'Sriracha', cursive;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #0d1f2d
}

h2 {
	font-family: 'Courgette', cursive;
	letter-spacing: 2px;
	color: #3d405b
}

p {
	font-family: Arial, Verdana, Sans Serif;
	text-align: justify;
	line-height: 25px;
	word-spacing: 3px;
}