body {
	background-color: #C6DABF;
}

h1 {
	font-family: 'Rock Salt', cursive;
	letter-spacing: 8px;
	font-size: 2.5em;
}

#heading {
	text-align: center;
	padding: 25px;
	border-color: black;
	border-style: dashed;
}

#bodyinfo {
	background-color: #FFFDED;
}

a {
	font-family: 'Karla', sans-serif;
	font-size: 18px;
	color: black;
	text-transform: uppercase;
	background-color: #FAAA8D;
	padding: 8px;
	border-radius: 6px;
}

a:hover {
	color: white;
}

h2 {
	font-family: 'Mansalva', cursive;
	font-size: 45px;
	margin-bottom: 0px;
}

p, ul {
	font-family: Arial, sans-serif;
	line-height: 25px;
	font-size: 18px;
	text-align: justify;
}

h3 {
	font-family: 'Bebas Neue', cursive;
	font-size: 30px;
	letter-spacing: 5px;
	margin-bottom: 0px;
}

li {
	font-weight: bold;
}